body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(223, 168, 168);
}
header {
  background-color: rgb(179, 84, 84);
  display: flex;
  justify-items: center;
}

.right_header {
  margin-left: px;
}
