body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(223, 168, 168);
}
header {
  background-color: white;
  display: flex;
 justify-items: center;

}
.left_header {
}
.right_header {
  margin-left: px;
}
.center_header {
  /*display: flex;
  justify-content: center;
}
